# Normalize all text files to LF in the repo
* text=auto eol=lf

# Explicitly binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
